[submodule "Libraries/Alerts"]
	path = Libraries/Alerts
	url = git://github.com/acani/Alerts.git
[submodule "Libraries/AutoLayout"]
	path = Libraries/AutoLayout
	url = git://github.com/acani/AutoLayout.git
[submodule "Libraries/CodeInputView"]
	path = Libraries/CodeInputView
	url = git://github.com/acani/CodeInputView.git
[submodule "Libraries/LoadingViews"]
	path = Libraries/LoadingViews
	url = git://github.com/acani/LoadingViews.git
[submodule "Libraries/Networking"]
	path = Libraries/Networking
	url = git://github.com/acani/Networking.git
[submodule "Libraries/TextFieldTableViewCell"]
	path = Libraries/TextFieldTableViewCell
	url = git://github.com/acani/TextFieldTableViewCell.git
[submodule "Libraries/UIButtonBackgroundColor"]
	path = Libraries/UIButtonBackgroundColor
	url = git://github.com/acani/UIButtonBackgroundColor.git
[submodule "Libraries/Validator"]
	path = Libraries/Validator
	url = git://github.com/acani/Validator.git
